.nascondi                                {overflow: hidden }
button                                   {width: 200px; height: 50px; outline:none; background-color: #faff00;
                                            border-radius: 40px; -moz-border-radius: 40px; -webkit-border-radius: 40px;
    font-size: 20px; font-weight: 900; text-align: center;}
#my-expansion-panel-content      {background-color: #f8ffba;  }
#my-expansion-panel-content a                        {text-decoration: none; color: black;  }
#my-expansion-panel-content a:hover                    {color: red;  }


