<div id="my-expansion-panel">
  <div id="my-expansion-panel-header">
    <h2>Here are some links to help you start: </h2>
    <button (click)="svela()">Toggle</button>
  </div>
  <div [@svela]=current id="my-expansion-panel-content" class="nascondi">
    <ul>
      <li>
        <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
      </li>
      <li>
        <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
      </li>
      <li>
        <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
      </li>
    </ul>
  </div>
</div>
