<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{ title }}!
    </h1>
    <app-rotating-logo></app-rotating-logo>
    <app-rotating-logo></app-rotating-logo>
    <app-rotating-logo></app-rotating-logo>
</div>
<div>
    <app-pannello></app-pannello>
</div>

<router-outlet></router-outlet>
